<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <h3>About</h3>
    </div>
</div>
<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
		<blockquote>
			<p>
			&quot;It makes no sense in the era of smart phones and
			cloud-based applications that organizations should be
			paying for business cards that will eventually be
			discarded.  Many companies have with small
			profit margins. Cards by Cloud&#0153; helps businesses
			reduce expenses on an obsolete paradigm.&quot;</p>
			<small align="right">Samir Tambe<br> CEO<br> Cards by Cloud</small>
		</blockquote>
    </div>
</div>
<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <p>
        This idea blossomed from a very respectable employee who had a hard
        time getting business cards through his employer.  The managers
        would constantly use cost as a justification why they would not
        let us order business cards. That experience proved that it was not
        possible to order or for that matter use business cards when they
        were needed.
        </p>
        <p>
        This created awkward situations when you meet new people and they would
        ask for a business card.  This is where the idea for Cards by Cloud&#0153;
        was born.  We may forget business cards, but we always have our smart
        phones with us.  Why not have a App that allows us to exchange business cards
        whereby not only can one send his or her virtual business card to someone else, but
        someone else can request your business card.  This relieves the person that
        wants to give his or her business card out to several people from having to
        individually send the virtual business card.
        </p>
        <p>We are interested in eliminating or drastically reducing the
        number of business cards that are being used by businesses. It makes no
        sense today, more than 500 years after Gutenberg invented the
        printing press, that we should use this ancient
        technology to convey our contact information to each other.</p>
    </div>
</div>

