        <div class="row">

            <div class="col-xs-12">
                <!-- Indicator dots below -->
                <div id="wag" class="carousel slide" data-ride="carousel"
                     data-interval="9000">
                    <ol class="carousel-indicators">
                        <li data-target="#wag" data-slide-to="0" class="active"></li>
                        <li data-target="#wag" data-slide-to="1"></li>
                        <li data-target="#wag" data-slide-to="2"></li>
                        <li data-target="#wag" data-slide-to="3"></li>
                        <li data-target="#wag" data-slide-to="4"></li>
                    </ol>

                    <!-- Wrapper for slides -->
                    <div class="carousel-inner">
                        <div class="item active">
                            <img src="img/cloudbanner1.jpg" />
                            <div class="carousel-caption">
                                <h3>Leverage the Cloud</h3>
                            </div>

                        </div>

                        <div class="item">
                            <img src="img/cloudbanner2.jpg" />
                            <div class="carousel-caption">
                                <h3>The cloud in the Palm of your Hands</h3>
                            </div>
                        </div>
                        <div class="item">
                            <img src="img/cloudbanner3.jpg" />
                            <div class="carousel-caption">
                                <h3>Reduce Costs and Waste</h3>
                            </div>
                        </div>

                        <div class="item">
                            <img src="img/cloudbanner4.jpg" />
                            <div class="carousel-caption">
                                <h3>No Paper Business Cards</h3>
                            </div>
                        </div>
                        <div class="item">
                            <img src="img/cloudbanner5.jpg" />
                            <div class="carousel-caption">
                                <h3>Contacts through the Cloud</h3>
                            </div>
                        </div>
                    </div>

                    <!-- CONTROLS -->
                    <a class="left carousel-control" href="#wag" data-slide="prev"
                       role="button">
                        <span class="glyphicon glyphicon-chevron-left"></span>
                    </a>
                    <a class="right carousel-control" href="#wag" data-slide="next"
                       role="button">
                        <span class="glyphicon glyphicon-chevron-right"></span>
                    </a>
                </div>
            </div>
        </div>

		<div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <h3>The New Business Card</h3>
            </div>
		</div>

        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

                <p>When you look at the world around you every aspect of life is
                surrounded by the cloud. Cards by Cloud&#0153; offers businesses
                an opportunity for their employees to sign up with our service
                to be given a new virtual hand to exchange virtual business
                cards with others through the cloud.  When you use Cards by Cloud&#0153;:
                <ul>
                    <li>Your business saves money by not purchasing ink and paper
                    business cards that will ultimately be discarded!</li>
                    <li>You exchanging contact information with new people becomes
                    more efficient by using the cloud!</li>
                    <li>Paper is saved so less beautiful trees are cut down!</li>
                </ul>
            </div>
        </div>
