<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <h3>Pricing</h3>
    </div>
</div>
<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <h4>We offer clear and simple pricing. We think you will agree!</h4>
    </div>
</div>
<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th>Cards by Cloud&#0153;</th>
                        <th>Cost<sup>1, 2</sup></th>
                        <th>Shipping<sup>1, 2</sup></th>
                        <th>Quantity<sup>2</sup></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Basic Package</td>
                        <td>FREE</td>
                        <td>Not Applicable</td>
                        <td>10 sends, requests, receives<sup>4</sup></td>
                    </tr>
                    <tr>
                        <td>Premium Package</td>
                        <td>$1/<small>month</small><sup>3</sup></td>
                        <td>Not Applicable</td>
                        <td>Unlimited sends, requests, receives<sup>4</sup></td>
                    </tr>
                </tbody>
                <thead>
                    <tr>
                        <th><br><br>The Competition</th>
                        <th></th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Online Stores</td>
                        <td>$20</td>
                        <td>$5 - $16</td>
                        <td>250 cards</td>
                    </tr>
                    <tr>
                        <td>Bulk Printing<sup>5</sup></td>
                        <td>$7</td>
                        <td>$5 - $16</td>
                        <td>250 cards</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <br>
        <p id="fineprint">
            <small>
                <ol>
                    <li>All prices are listed in U.S. Dollars</li>
                    <li>Per user</li>
                    <li>Payment for 12 months in advance is required</li>
                    <li>No physical ink and paper business cards are involved</li>
                    <li>Available to large corporations</li>
                </ol>
            </small>
        </p>
    </div>
</div>
